@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
*,*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End CSS Reset */
img {
    width: 100%;
    /* min-height: 250px; */
    /* max-height: 300px; */
    /* height: auto; */
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
 scale: 104%;
}

/* Start Loader CSS */
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }
/* End Loader CSS */